@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 200px;
}
.nav-header{
    font-size: 35px;
}
.navbar{
    display: flex;
    align-items: center;

}

.navbar li{
    list-style: none;
    padding: 0 20px;

   
}

.primary-color{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: 0.5px solid black;
    padding: 5px;
    font-size: 18px;
}


.description{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.description-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-us{
    color:  #FD6E0A;
    border: 0.5px solid #FD6E0A;
    padding: 10px;
    margin-top: 20px;
    height: 37px;
}

.back-ground{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}